nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 5vw;
}

.admin-panel-button {
  margin-right: 2vw;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout {
  width: 100%;
}
